{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %}

{% block content %}   
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

<div class="auth-wrapper">
    <div class="auth-content subscribe">
        <div> {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info" style="z-index: 1;font-weight: 600;color: #494c4f">
                <li>{{ message }} </li>
             </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <div class="card">
            <div class="row no-gutters">
                <div class="col-md-4 col-lg-6 d-none d-md-flex d-lg-flex theme-bg align-items-center justify-content-center">
                    <img src="{{ config.ASSETS_ROOT }}/images/user/lock.png" alt="lock images" class="img-fluid">
                </div>
                <div class="col-md-8 col-lg-6">
                    <div class="card-body text-center">
                        <div class="row justify-content-center">
                            <div class="col-sm-10">
                                <h3 class="mb-4">Login</h3>

                                <span class="mb-1 text-muted">
                                    {% if msg %}
                                        <span class="text-danger">{{ msg | safe }}</span>
                                    {% else %}
                                        Add your credentials
                                    {% endif %} 
                                </span>

                                <br /><br />

                                <form role="form" method="post" action="">
                                    {{ form.hidden_tag() }}

                                    <div class="input-group mb-3">
                                        {{ form.username(placeholder="Username", class="form-control") }}
                                    </div>
                                    <div class="input-group mb-4">
                                        {{ form.password(placeholder="Password", class="form-control", type="password") }}
                                    </div>

                                    <button type="submit" name="login" class="btn btn-primary shadow-2 mb-4">Login</button>

                                </form>

                                <p class="mb-1 text-muted">Don’t have an account? <a href="{{ url_for('authentication_blueprint.register') }}" >Sign UP</a></p>

                                <br />
                                
                                <!-- GitHub button starts here -->
                                {% if config.SOCIAL_AUTH_GITHUB %}
                                <a href="{{url_for('authentication_blueprint.login_github')}}"  class="btn btn-secondary">
                                    <i class="fa fa-github fa-fw"></i>
                                    <span>Login with GitHub</span>
                                </a>
                                <!-- GitHub ends here -->
                                {% endif %}
                                <!-- Twitter button starts here -->
                                {% if config.SOCIAL_AUTH_TWITTER %}
                                <a href="{{url_for('authentication_blueprint.login_twitter')}}"  class="btn btn-primary">
                                    <i class="fa fa-twitter fa-fw"></i>
                                    <span>Login with Twitter</span>
                                </a>
                                <!-- Twitter ends here -->
                                {% endif %}
                                    
                                <br />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- model for verify email -->
<div id="emailModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="emailModel"
aria-hidden="true">
<div id="overlay">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="profileModel">Verify Email
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-success success_message" id="success_message">
                    <strong>Success!</strong> Indicates a successful or positive action.
                </div>
            </div>
        </div> -->
        <br>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <form method="post">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email" required>
                    </div>
                    <button type="submit" class="btn btn-primary mb-4 shadow-2">Verify Email</button>
                </form>
            </div>
            <div class="col-sm-2"></div>
        </div>
       
    </div>
</div>
</div>
<!-- end -->

{% endblock content %}
