<!DOCTYPE html>
<html lang="en">

<head>

    <title>
        Flask Datta Able PRO - {% block title %}{% endblock %} | AppSeed
    </title>

    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="CodedThemes" />

    <!-- Favicon icon -->
    <link rel="icon" href="{{ config.ASSETS_ROOT }}/images/favicon.png" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/plugins/animate.min.css">
    <!-- vendor css -->
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/style.min.css">

    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}

</head>
<body>

    {% block content %}{% endblock content %}

    <script src="{{ config.ASSETS_ROOT }}/js/plugins/popper.min.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/js/plugins/bootstrap.min.js"></script>

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}

</body>
</html>
