	<!-- [ chat user list ] start -->
	<section class="header-user-list">
		<div class="h-list-header">
			<div class="input-group">
				<input type="text" id="search-friends" class="form-control" placeholder="Search Friend . . .">
			</div>
		</div>
		<div class="h-list-body">
			<a href="#!" class="h-close-text"><i class="feather icon-chevrons-right"></i></a>
			<div class="main-friend-cont scroll-div">
				<div class="main-friend-list">
					<div class="media userlist-box" data-id="1" data-status="online" data-username="Josephin Doe">
						<a class="media-left" href="#!"><img class="media-object img-radius" src="{{ config.ASSETS_ROOT }}/images/user/avatar-1.jpg" alt="Generic placeholder image ">
							<div class="live-status">3</div>
						</a>
						<div class="media-body">
							<h6 class="chat-header">Josephin Doe<small class="d-block text-c-green">Typing . . </small></h6>
						</div>
					</div>
					<div class="media userlist-box" data-id="2" data-status="online" data-username="Lary Doe">
						<a class="media-left" href="#!"><img class="media-object img-radius" src="{{ config.ASSETS_ROOT }}/images/user/avatar-2.jpg" alt="Generic placeholder image">
							<div class="live-status">1</div>
						</a>
						<div class="media-body">
							<h6 class="chat-header">Lary Doe<small class="d-block text-c-green">online</small></h6>
						</div>
					</div>
					<div class="media userlist-box" data-id="3" data-status="online" data-username="Alice">
						<a class="media-left" href="#!"><img class="media-object img-radius" src="{{ config.ASSETS_ROOT }}/images/user/avatar-3.jpg" alt="Generic placeholder image"></a>
						<div class="media-body">
							<h6 class="chat-header">Alice<small class="d-block text-c-green">online</small></h6>
						</div>
					</div>
					<div class="media userlist-box" data-id="4" data-status="offline" data-username="Alia">
						<a class="media-left" href="#!"><img class="media-object img-radius" src="{{ config.ASSETS_ROOT }}/images/user/avatar-1.jpg" alt="Generic placeholder image">
							<div class="live-status">1</div>
						</a>
						<div class="media-body">
							<h6 class="chat-header">Alia<small class="d-block text-muted">10 min ago</small></h6>
						</div>
					</div>
					<div class="media userlist-box" data-id="5" data-status="offline" data-username="Suzen">
						<a class="media-left" href="#!"><img class="media-object img-radius" src="{{ config.ASSETS_ROOT }}/images/user/avatar-4.jpg" alt="Generic placeholder image"></a>
						<div class="media-body">
							<h6 class="chat-header">Suzen<small class="d-block text-muted">15 min ago</small></h6>
						</div>
					</div>
					<div class="media userlist-box" data-id="1" data-status="online" data-username="Josephin Doe">
						<a class="media-left" href="#!"><img class="media-object img-radius" src="{{ config.ASSETS_ROOT }}/images/user/avatar-1.jpg" alt="Generic placeholder image ">
							<div class="live-status">3</div>
						</a>
						<div class="media-body">
							<h6 class="chat-header">Josephin Doe<small class="d-block text-c-green">Typing . . </small></h6>
						</div>
					</div>
					<div class="media userlist-box" data-id="2" data-status="online" data-username="Lary Doe">
						<a class="media-left" href="#!"><img class="media-object img-radius" src="{{ config.ASSETS_ROOT }}/images/user/avatar-2.jpg" alt="Generic placeholder image">
							<div class="live-status">1</div>
						</a>
						<div class="media-body">
							<h6 class="chat-header">Lary Doe<small class="d-block text-c-green">online</small></h6>
						</div>
					</div>
					<div class="media userlist-box" data-id="3" data-status="online" data-username="Alice">
						<a class="media-left" href="#!"><img class="media-object img-radius" src="{{ config.ASSETS_ROOT }}/images/user/avatar-3.jpg" alt="Generic placeholder image"></a>
						<div class="media-body">
							<h6 class="chat-header">Alice<small class="d-block text-c-green">online</small></h6>
						</div>
					</div>
					<div class="media userlist-box" data-id="4" data-status="offline" data-username="Alia">
						<a class="media-left" href="#!"><img class="media-object img-radius" src="{{ config.ASSETS_ROOT }}/images/user/avatar-1.jpg" alt="Generic placeholder image">
							<div class="live-status">1</div>
						</a>
						<div class="media-body">
							<h6 class="chat-header">Alia<small class="d-block text-muted">10 min ago</small></h6>
						</div>
					</div>
					<div class="media userlist-box" data-id="5" data-status="offline" data-username="Suzen">
						<a class="media-left" href="#!"><img class="media-object img-radius" src="{{ config.ASSETS_ROOT }}/images/user/avatar-4.jpg" alt="Generic placeholder image"></a>
						<div class="media-body">
							<h6 class="chat-header">Suzen<small class="d-block text-muted">15 min ago</small></h6>
						</div>
					</div>
					<div class="media userlist-box" data-id="1" data-status="online" data-username="Josephin Doe">
						<a class="media-left" href="#!"><img class="media-object img-radius" src="{{ config.ASSETS_ROOT }}/images/user/avatar-1.jpg" alt="Generic placeholder image ">
							<div class="live-status">3</div>
						</a>
						<div class="media-body">
							<h6 class="chat-header">Josephin Doe<small class="d-block text-c-green">Typing . . </small></h6>
						</div>
					</div>
					<div class="media userlist-box" data-id="2" data-status="online" data-username="Lary Doe">
						<a class="media-left" href="#!"><img class="media-object img-radius" src="{{ config.ASSETS_ROOT }}/images/user/avatar-2.jpg" alt="Generic placeholder image">
							<div class="live-status">1</div>
						</a>
						<div class="media-body">
							<h6 class="chat-header">Lary Doe<small class="d-block text-c-green">online</small></h6>
						</div>
					</div>
					<div class="media userlist-box" data-id="3" data-status="online" data-username="Alice">
						<a class="media-left" href="#!"><img class="media-object img-radius" src="{{ config.ASSETS_ROOT }}/images/user/avatar-3.jpg" alt="Generic placeholder image"></a>
						<div class="media-body">
							<h6 class="chat-header">Alice<small class="d-block text-c-green">online</small></h6>
						</div>
					</div>
					<div class="media userlist-box" data-id="4" data-status="offline" data-username="Alia">
						<a class="media-left" href="#!"><img class="media-object img-radius" src="{{ config.ASSETS_ROOT }}/images/user/avatar-1.jpg" alt="Generic placeholder image">
							<div class="live-status">1</div>
						</a>
						<div class="media-body">
							<h6 class="chat-header">Alia<small class="d-block text-muted">10 min ago</small></h6>
						</div>
					</div>
					<div class="media userlist-box" data-id="5" data-status="offline" data-username="Suzen">
						<a class="media-left" href="#!"><img class="media-object img-radius" src="{{ config.ASSETS_ROOT }}/images/user/avatar-4.jpg" alt="Generic placeholder image"></a>
						<div class="media-body">
							<h6 class="chat-header">Suzen<small class="d-block text-muted">15 min ago</small></h6>
						</div>
					</div>
					<div class="media userlist-box" data-id="1" data-status="online" data-username="Josephin Doe">
						<a class="media-left" href="#!"><img class="media-object img-radius" src="{{ config.ASSETS_ROOT }}/images/user/avatar-1.jpg" alt="Generic placeholder image ">
							<div class="live-status">3</div>
						</a>
						<div class="media-body">
							<h6 class="chat-header">Josephin Doe<small class="d-block text-c-green">Typing . . </small></h6>
						</div>
					</div>
					<div class="media userlist-box" data-id="2" data-status="online" data-username="Lary Doe">
						<a class="media-left" href="#!"><img class="media-object img-radius" src="{{ config.ASSETS_ROOT }}/images/user/avatar-2.jpg" alt="Generic placeholder image">
							<div class="live-status">1</div>
						</a>
						<div class="media-body">
							<h6 class="chat-header">Lary Doe<small class="d-block text-c-green">online</small></h6>
						</div>
					</div>
					<div class="media userlist-box" data-id="3" data-status="online" data-username="Alice">
						<a class="media-left" href="#!"><img class="media-object img-radius" src="{{ config.ASSETS_ROOT }}/images/user/avatar-3.jpg" alt="Generic placeholder image"></a>
						<div class="media-body">
							<h6 class="chat-header">Alice<small class="d-block text-c-green">online</small></h6>
						</div>
					</div>
					<div class="media userlist-box" data-id="4" data-status="offline" data-username="Alia">
						<a class="media-left" href="#!"><img class="media-object img-radius" src="{{ config.ASSETS_ROOT }}/images/user/avatar-1.jpg" alt="Generic placeholder image">
							<div class="live-status">1</div>
						</a>
						<div class="media-body">
							<h6 class="chat-header">Alia<small class="d-block text-muted">10 min ago</small></h6>
						</div>
					</div>
					<div class="media userlist-box" data-id="5" data-status="offline" data-username="Suzen">
						<a class="media-left" href="#!"><img class="media-object img-radius" src="{{ config.ASSETS_ROOT }}/images/user/avatar-4.jpg" alt="Generic placeholder image"></a>
						<div class="media-body">
							<h6 class="chat-header">Suzen<small class="d-block text-muted">15 min ago</small></h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- [ chat user list ] end -->
    