
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed ">
		<div class="navbar-wrapper ">
			<div class="navbar-brand header-logo">
				<a href="/" class="b-brand">
					<div class="b-bg" style="background:none">

						<img class="logo feather" src="{{ config.ASSETS_ROOT }}/images/logo-alpha.png" alt="advance-1" />
					</div>
					<span class="b-title">JaneTech</span>
				</a>
				<a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
			</div>
			<div class="navbar-content scroll-div " >
				
					<ul class="nav pcoded-inner-navbar ">
				
						<li class="nav-item pcoded-menu-caption">
						    <label>Nav Item</label>
						</li>
						
						<li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item pcoded-hasmenu">
						    <a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
						    <ul class="pcoded-submenu">
						        <li><a href="/">Default</a></li>
						        <li><a href="/dashboard-ecommerce.html">Analytics</a></li>

				
						    </ul>
						</li>
				
						<li data-username="widget Statistic Data Table User card Chart" class="nav-item pcoded-hasmenu">
						    <a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-grid"></i></span><span class="pcoded-mtext">Resource</span></a>
						    <ul class="pcoded-submenu">
						        <li><a href="/widget-statistic.html">Manage</a></li>
						        <li><a href="/widget-data.html">Data</a></li>
						        <li><a href="/widget-table.html">Table</a></li>
						        <li><a href="/widget-user-card.html">User</a></li>
						        <li><a href="/widget-chart.html">Chart</a></li>
						    </ul>
						</li>
						<li data-username="widget Statistic Data Table User card Chart" class="nav-item pcoded-hasmenu">
						    <a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-user"></i></span><span class="pcoded-mtext">Tasks</span><span class="pcoded-badge label label-primary">New</span></a>
						    <ul class="pcoded-submenu">
						        <li><a href="/user-profile.html">Profile</a></li>
						        <li><a href="/user-profile-social.html">Social Profile</a></li>
						        <li><a href="/user-card.html">User Card</a></li>
						        <li><a href="/user-list.html">User List</a></li>
							</ul>
						</li>

						<li class="nav-item pcoded-menu-caption">
						    <label>Another Nav Item</label>
						</li>
						<li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item pcoded-hasmenu">
						    <a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-bar-chart"></i></span><span class="pcoded-mtext">Dasboard</span></a>
						    <ul class="pcoded-submenu">
						        <li><a href="/test">Default</a></li>
						        <li><a href="/dashboard-ecommerce.html">LinkedIn</a></li>
						        <li><a href="/dashboard-crm.html">Instagram</a></li>
				
						    </ul>
						</li>
						<li data-username="widget Statistic Data Table User card Chart" class="nav-item pcoded-hasmenu">
						    <a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-users"></i></span><span class="pcoded-mtext">Profiles</span></a>
						    <ul class="pcoded-submenu">
						        <li><a href="/user-profile.html">Profile</a></li>
						        <li><a href="/user-profile-social.html">Social Profile</a></li>
						        <li><a href="/user-card.html">User Card</a></li>
						        <li><a href="/user-list.html">User List</a></li>
							</ul>
						</li>


						<li class="nav-item pcoded-menu-caption">
						    <label>Support</label>
						</li>
						<li data-username="Need Support" class="nav-item">
							<a href="https://appseed.us/support/" class="nav-link" target="_blank">
								<span class="pcoded-micon"><i class="feather icon-help-circle"></i></span><span class="pcoded-mtext">
									Need support?</span></a></li>

					</ul>
				
			</div>
		</div>
	</nav>
	<!-- [ navigation menu ] end -->

    